<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sad10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10001</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10002</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10003</key>
			<dict>
				<key>frame</key>
				<string>{{366,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10004</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10005</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10006</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10007</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10009</key>
			<dict>
				<key>frame</key>
				<string>{{122,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10010</key>
			<dict>
				<key>frame</key>
				<string>{{244,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10011</key>
			<dict>
				<key>frame</key>
				<string>{{366,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10012</key>
			<dict>
				<key>frame</key>
				<string>{{488,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10013</key>
			<dict>
				<key>frame</key>
				<string>{{610,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10014</key>
			<dict>
				<key>frame</key>
				<string>{{732,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10015</key>
			<dict>
				<key>frame</key>
				<string>{{854,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10017</key>
			<dict>
				<key>frame</key>
				<string>{{122,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10018</key>
			<dict>
				<key>frame</key>
				<string>{{244,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10019</key>
			<dict>
				<key>frame</key>
				<string>{{366,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10020</key>
			<dict>
				<key>frame</key>
				<string>{{488,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10021</key>
			<dict>
				<key>frame</key>
				<string>{{610,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10022</key>
			<dict>
				<key>frame</key>
				<string>{{732,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10023</key>
			<dict>
				<key>frame</key>
				<string>{{854,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10025</key>
			<dict>
				<key>frame</key>
				<string>{{122,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10026</key>
			<dict>
				<key>frame</key>
				<string>{{244,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10027</key>
			<dict>
				<key>frame</key>
				<string>{{366,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10028</key>
			<dict>
				<key>frame</key>
				<string>{{488,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10029</key>
			<dict>
				<key>frame</key>
				<string>{{610,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10030</key>
			<dict>
				<key>frame</key>
				<string>{{732,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10031</key>
			<dict>
				<key>frame</key>
				<string>{{854,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10032</key>
			<dict>
				<key>frame</key>
				<string>{{0,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10033</key>
			<dict>
				<key>frame</key>
				<string>{{122,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10034</key>
			<dict>
				<key>frame</key>
				<string>{{244,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10035</key>
			<dict>
				<key>frame</key>
				<string>{{366,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10036</key>
			<dict>
				<key>frame</key>
				<string>{{488,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10037</key>
			<dict>
				<key>frame</key>
				<string>{{610,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10038</key>
			<dict>
				<key>frame</key>
				<string>{{732,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10039</key>
			<dict>
				<key>frame</key>
				<string>{{854,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10040</key>
			<dict>
				<key>frame</key>
				<string>{{0,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10041</key>
			<dict>
				<key>frame</key>
				<string>{{122,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10042</key>
			<dict>
				<key>frame</key>
				<string>{{244,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10043</key>
			<dict>
				<key>frame</key>
				<string>{{366,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10044</key>
			<dict>
				<key>frame</key>
				<string>{{488,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10045</key>
			<dict>
				<key>frame</key>
				<string>{{610,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10046</key>
			<dict>
				<key>frame</key>
				<string>{{732,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10047</key>
			<dict>
				<key>frame</key>
				<string>{{854,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10048</key>
			<dict>
				<key>frame</key>
				<string>{{0,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10049</key>
			<dict>
				<key>frame</key>
				<string>{{122,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10050</key>
			<dict>
				<key>frame</key>
				<string>{{244,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10051</key>
			<dict>
				<key>frame</key>
				<string>{{366,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10052</key>
			<dict>
				<key>frame</key>
				<string>{{488,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10053</key>
			<dict>
				<key>frame</key>
				<string>{{610,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10054</key>
			<dict>
				<key>frame</key>
				<string>{{732,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10055</key>
			<dict>
				<key>frame</key>
				<string>{{854,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10056</key>
			<dict>
				<key>frame</key>
				<string>{{0,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10057</key>
			<dict>
				<key>frame</key>
				<string>{{122,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10058</key>
			<dict>
				<key>frame</key>
				<string>{{244,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10059</key>
			<dict>
				<key>frame</key>
				<string>{{366,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10060</key>
			<dict>
				<key>frame</key>
				<string>{{488,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>sad10061</key>
			<dict>
				<key>frame</key>
				<string>{{610,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>boy_ku.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>boy_ku.png</string>
		</dict>
	</dict>
</plist>
